*{
    margin: 0;
    padding: 0;
}
.container{
    width: 400px;
    margin: auto;
    background-color: rgb(125, 191, 204);
    padding: 20px;
    border: 1px solid blue;
    border-radius: 10px;
}
h1{
    box-sizing: border-box;
    background-color: #d8a1a1;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(223, 133, 80);
}
.doanvan{
    box-sizing: border-box;
    padding: 10px;
    background-color: #c97777;
    margin: 10px;
    border: 2px solid rgb(162, 98, 60);
}
.button{
    background-color: rgb(65, 165, 199);
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-left: 10px;
}